
*, ::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
}

.wrapper {
    border: 3px solid rgb(3, 84, 155);
    border-radius: 8px;
    background-color: rgb(16, 130, 229); 
}

.main__screen {
    background-color: aliceblue;
    padding: 2rem 2rem;
    text-align: right;
}


.main__screen,
.btns div {
    border-radius: 5px;
}


.btns {
    margin-top: 1rem;
}

input, button{
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    text-align: center;
    border: none;
    font-size: large;
    border-radius: 6px;
}

.btns  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.reset__btn {
    grid-column: 1/3;
}

.equal {
    grid-column: 5/3;
}

.delete__btn,
.reset__btn,
.equal {
    color: white;
    background-color: coral;
}


