
*, ::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ip__info__container {
    background-color: blue;
    padding: 2rem 5rem 0rem 5rem;
    position: relative;
}

h1 {
    color: #fff;
}

.search__box {
    text-align: center;
}


.ip__information {
    background: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 80px;
    z-index: 2;
}


.ip__information div {
   padding: 1rem;
}

.ip__information h3 {
    color: gray;
}

input, button {
    padding: 1rem 0.3rem;
    margin-top: 1rem;
    border: none;
}

input {
    width: 75%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
}

#map {
    min-height: 100dvh;
    z-index: 1;
}

.my-div-icon {
    background-color: blue;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 700px) {
    .ip__information {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        top: 40px;
    }

    .location,
    .ISP {
        border-left: 2px solid rgb(65, 65, 65);
    }

}
